<h2>Create New Landmark</h2>

<form action="/landmarks" method="POST">

  <label for="landmark_name">Name</label>
  <input type="text" id="landmark_name" name="landmark[name]">
  <br>
  <input type="submit" value="Save Landmark">
</form>

<a class="button" href="/landmarks">Landmarks</a>
<a class="button" href="/">Home</a>
