<!DOCTYPE html>
<html>
<head>
</head>
<body>
  <form action="/figures" method="POST">
    <label for="name">Name </label>
    <input type="text" id="name" name="figure[name]">

    <label>Titles</label>
    <input type="checkbox" name="figure[title_ids][]">

    <label>Landmarks</label>
    <% @landmarks.each do |l| %>
    <input type="text" name="figure[landmark_ids][]" id="<%= l.name %>" value="<%= l.id %>"><%= l.name %>
    <% end %>

    <input type="submit" id="submit">
  </form>
</body>
</html>
